@model VacationVillaManager.Models.Report

@{
    ViewBag.Title = "Create";
}

@Html.DropDownList("reportType", (IEnumerable<SelectListItem>)ViewData["TypesList"])

<div class="reportInfo">
    <!-- Generated report partial view goes here -->
</div>

<div class="reportView">
    <!-- Generated report information goes here -->
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/Scripts/jquery.ui.monthpicker.js")

    <script type="text/javascript">
        $(document).ready(function () {

            $('#reportType').change(function () {
                $('.viewPane').remove();
                if ($('.reportPane').length) {
                    $('.reportPane').slideUp('slow', function () {
                        $('div').remove('.reportPane');
                        updatePage($('#reportType').val());
                    });
                }
                else {
                    updatePage($('#reportType').val());
                }
            });

            $('.reportInfo').on('click', '.generate', function () {
                $('.viewPane').remove();
                switch ($('#reportType').val()) {
                    case "1":
                        $.ajax({
                            type: "GET",
                            url: "/Reports/GenerateEmailReport",
                            success: function ($result) {
                                var toInject = $result;
                                $('.reportView').hide().append(toInject).slideDown();
                            }
                        });
                        break;

                    case "3":
                        var start = $('.start').val();
                        var end = $('.end').val();

                        $.ajax({
                            type: "POST",
                            url: "/Reports/GenerateFreeHousesReport",
                            data: {
                                StartDate: start,
                                EndDate: end
                            },
                            success: function ($result) {
                                var toInject = $result;
                                $('.reportView').hide().append(toInject).slideDown();
                            }
                        });
                        break;

                    case "4":
                        var month = $('.month').val();

                        $.ajax({
                            type: "POST",
                            url: "/Reports/GenerateComeGoReport",
                            data: {
                                Month: month
                            },
                            success: function ($result) {
                                var toInject = $result;
                                $('.reportView').hide().append(toInject).slideDown();
                            }
                        });
                        break;

                    default:
                        break;
                }
            });

            function updatePage(reportType) {
                if (reportType == 0) {
                    // do nothing
                }

                else {
                    $.ajax({
                        type: "GET",
                        url: "/Reports/GenerateReportEditor/" + reportType,
                        success: function ($result) {
                            var toInject = $result;
                            $('.reportInfo').hide().append(toInject).slideDown();
                            if (reportType == 2 || reportType == 4) {
                                $('.month').monthpicker({
                                    dateFormat: "MM yy"
                                });
                            }
                            else if (reportType == 3) {
                                $('.date').datepicker({
                                    dateFormat: "M dd yy"
                                });
                            }
                        }
                    });
                }
            }
        });
    </script>
}
