@model VacationVillaManager.Models.Special

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Special</legend>

        @Html.DropDownListFor(model => model.House.ID, (IEnumerable<SelectListItem>)ViewData["HousesList"], new { id = "housesList" })

        <div class="editor-label">
            @Html.LabelFor(model => model.StartDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.StartDate, new { @class = "date" })
            @Html.ValidationMessageFor(model => model.StartDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EndDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.EndDate, new { @class = "date" })
            @Html.ValidationMessageFor(model => model.EndDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Rate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Rate, new { id = "rateBox" })
            @Html.ValidationMessageFor(model => model.Rate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Costs)
        </div>

        <div class="costEditor">
            <!-- Generated cost editors go here -->
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")

    <script type="text/javascript">
        $(document).ready(function () {

            $.datepicker.setDefaults({
                dateFormat: "M dd yy",
                showOn: "focus"
            });

            $('.date').datepicker();

            var id = -1;

            $('#housesList').change(function () {

                $('.costEditorRow input').val('');
                $('div[class="costEditorRow"]').hide();

                var houseID = $('#housesList').val();
                if (houseID != "") {


                    $.ajax({
                        type: "GET",
                        url: "/Bookings/GetRate/" + houseID,
                        success: function ($result) {
                            $('#rateBox').val($result);
                        }
                    });

                    $.ajax({
                        type: "GET",
                        url: "/Bookings/GetCosts/" + houseID,
                        success: function ($result) {

                            var currentPos = id;
                            $.each($result.Costs, function (index, cost) {
                                id++;
                                $.ajax({
                                    type: "GET",
                                    url: "/Houses/_CostEditorWithID/" + id,
                                    async: false,
                                    success: function ($result2) {
                                        var toInject = $result2;
                                        $('.costEditor').append(toInject);

                                        currentPos++;

                                        $('#' + currentPos + ' .costName').val(cost.Name);
                                        $('#' + currentPos + ' .costAmount').val(cost.Amount);
                                        $('#' + currentPos + ' .costID').val(cost.ID);
                                        $('.costName').attr('readonly', true);
                                        $('.deleteRow').remove();
                                    }
                                });
                            });
                        }
                    });
                }
                else {
                    $('#rateBox').val('0');
                }
            });
        });
    </script>
}
