@model VacationVillaManager.Models.Inquiry

@{
    int id = (int)ViewBag.HouseID;
    var options = new AjaxOptions()
                      {
                          Url = Url.Action("Create", "Inquiries"),
                          UpdateTargetId = "ajax-response",
                          LoadingElementId = "spinner",
                          OnSuccess = "$('#inquiry-status').text('Inquiry submitted! Thanks!'); $('#inquiry-status').show();",
                          OnFailure = "$('#inquiry-status').text('Inquiry submission failed! Try again.'); $('#inquiry-status').show();"
                      };
}

@using (Ajax.BeginForm("Create", "Inquiries",null , options, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <!--<input type="hidden" name="House.ID" value="@id" />-->
    @Html.HiddenFor(model => model.House.ID, new { @Value = id })
    <input type="submit" value="Create" id="submitInquiry" style="display:none;" />

    <p style="color: red;">* Required</p>

    <div class="headline"><h3>Contact Information</h3></div>

    <div class="control-group">
        @Html.Label("First Name *", new { @class = "control-label", @for = "FirstName" })
        <div class="controls">
            @Html.TextBoxFor(model => model.FirstName, new { placeholder = "First Name" })
        </div>
    </div>
    
    <div class="control-group">
        @Html.LabelFor(model => model.LastName, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(model => model.LastName, new { placeholder = "Last Name" })
        </div>
    </div>
    
    <div class="control-group">
        @Html.LabelFor(model => model.PhoneNumber, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(model => model.PhoneNumber, new { placeholder = "Phone Number" })
        </div>
    </div>
    
    <div class="control-group">
        @Html.Label("Email Address *", new { @class = "control-label", @for = "Email" })
        <div class="controls">
            @Html.TextBoxFor(model => model.Email, new { placeholder = "Email Address" })
        </div>
    </div>
    
    <div class="headline"><h3>Booking Information</h3></div>
    
    <div class="control-group">
        @Html.Label("Number of Adults", new { @class = "control-label", @for = "NumAdults" })
        <div class="controls">
            @Html.TextBoxFor(model => model.NumAdults, new { placeholder = "Number of Adults", @Value = "" })
        </div>
    </div>
    
    <div class="control-group">
        @Html.Label("Number of Children", new { @class = "control-label", @for = "NumChildren" })
        <div class="controls">
            @Html.TextBoxFor(model => model.NumChildren, new { placeholder = "Number of Children", @Value = "" })
        </div>
    </div>
    
    <div class="control-group">
        @Html.Label("Interested Dates *", new { @for = "DateRange", @class = "control-label" })
        <div class="controls">
            @Html.TextBox("DateRange", null, new { id = "DateRange", placeholder = "Click to Select" })
            
        </div>
    </div>
    
    @Html.HiddenFor(model => model.StartDate, new { id = "startDate" })
    @Html.HiddenFor(model => model.EndDate, new { id = "endDate" })
    
    <div class="control-group">
        @Html.LabelFor(model => model.Questions, new { @class = "control-label" })
        <div class="controls">
            @Html.TextAreaFor(model => model.Questions, new { placeholder = "Questions/Comments", rows = "3" })
        </div>
    </div>
    @Html.Hidden("ServerResponse", null, new { id = "ajax-response" })
}

