@model VacationVillaManager.Models.House
@using VacationVillaManager.Models;

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>House</legend>

        <table>
            <tr>
                <td>@Html.LabelFor(model => model.Name)</td>
                <td>@Html.EditorFor(model => model.Name)</td>
                <td>@Html.ValidationMessageFor(model => model.Name)</td>
            </tr>
            
            @Html.EditorFor(model => model.Location)

            <tr>
                <td>@Html.LabelFor(model => model.Rate)</td>
                <td>@Html.EditorFor(model => model.Rate)</td>
                <td>@Html.ValidationMessageFor(model => model.Rate)</td>
            </tr>
        </table>

        <div class="editor-label">
            @Html.LabelFor(model => model.Photos)
        </div>

        <div id="file-uploader">       
            <noscript>          
                <p>Please enable JavaScript to use file uploader.</p>
                <!-- or put a simple form for upload here -->
            </noscript>         
        </div>

        <div id="thumbs">
            <!-- Uploaded image thumbnails go here -->
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Costs)
        </div>

        <div class="costEditor">
            <!-- Generated cost editors go here -->
        </div>

        <a href="javascript:void()" class="addNewCost" onclick="@{Model.Costs.Add(new Cost());}">Add</a>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/uploader/fileuploader.js")
    @Styles.Render("~/Scripts/uploader/fileuploader.css")

    <script type="text/javascript">
        $(document).ready(function () {

            var id = 0;
            var photoID = 0;

            var uploader = new qq.FileUploader({
                element: document.getElementById('file-uploader'),
                action: '@Url.Action("PhotoUpload", "Bookings")',
                onComplete: function (id, filename, responseJSON) {
                    @{Model.Photos.Add(new Photo());}
                    var toAppend = '<input type="hidden" name="Photos[' + photoID + '].ID" value="0" />';
                    $('#file-uploader').append(toAppend);
                    var toAppend = '<input type="hidden" name="Photos[' + photoID + '].URL" value="' + responseJSON.path + '" />';
                    $('#file-uploader').append(toAppend);
                    var toAppend = '<input type="hidden" name="Photos[' + photoID + '].URLThumb" value="' + responseJSON.thumb + '" />';
                    $('#file-uploader').append(toAppend);
                    var toAppend = '<input type="hidden" name="Photos[' + photoID + '].Name" value="' + responseJSON.name + '" />';
                    $('#file-uploader').append(toAppend);

                    var thumbAppend = '<img src="' + responseJSON.thumb + '" /> ' + responseJSON.name + '<br />';
                    $('#thumbs').append(thumbAppend);
                    photoID++;
                },
                params: {
                    houseID: '0'
                }
            });

            $('.addNewCost').click(function () {
                $.ajax({
                    type: "GET",
                    url: "/Houses/_CostEditorWithID/" + id,
                    success: function ($result) {
                        var toInject = $result;
                        $('.costEditor').append(toInject);
                        $('#' + id + ' .costID').val(0);
                        id++;
                    }
                });
            });

            $("a.deleteRow").live("click", function () {
                //$(this).parents("div.costEditorRow:first").remove();
                var divId = $(this).closest('div').attr('id');
                $('#' + divId + ' input').val('');
                $(this).parents("div.costEditorRow:first").hide();
                return false;
            });
        });
    </script>
}
