@model VacationVillaManager.Models.House
@using VacationVillaManager.Models;

@{
    ViewBag.Title = "Create";
}

@Styles.Render("~/Content/BootstrapOverride.css")

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <br />

    <div class="control-group">
        <div class="controls">
            <div class="row-fluid">
                <div class="span2">
                    <h3><a href="@Url.Action("Index")" class="back-button"><i class="icon-circle-arrow-left"></i></a> New House</h3>
                </div>
                <div class="span10 well well-small">
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-home"></i></span>
                        @Html.TextBoxFor(model => model.Name, new { placeholder = "Name" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="control-group center">
        <div class="controls">
            <div class="row-fluid">
                <div class="span4 well well-small">
                    <fieldset>
                        <legend>Contact Information</legend>
                        @Html.EditorFor(model => model.Location)
                    </fieldset>
                </div>
                <div class="span4 well well-small">
                    <fieldset>
                        <legend>Rate Information</legend>
                        <div class="input-prepend input-append">
                            <span class="add-on"><i class="icon-usd"></i></span>
                            @Html.TextBoxFor(model => model.Rate, new { @Value = "", placeholder = "Rate" })
                            <span class="add-on">Per Day</span>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Costs <a href="javascript:void(0)" class="add-button addNewCost" onclick="@{Model.Costs.Add(new Cost());}"><i class="icon-plus-sign"></i></a></legend>
                        <div class="costEditor">
                            <!-- Generated cost editors go here -->
                        </div>
                    </fieldset>
                </div>
                <div class="span4 well well-small">
                    <fieldset>
                        <legend>Contact Information</legend>
                        @Html.EditorFor(model => model.Location)
                    </fieldset>
                </div>
            </div>
        </div>
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Photos)
    </div>

    <div id="file-uploader">       
        <noscript>          
            <p>Please enable JavaScript to use file uploader.</p>
            <!-- or put a simple form for upload here -->
        </noscript>         
    </div>

    <div id="thumbs">
        <!-- Uploaded image thumbnails go here -->
    </div>

    <p>
        <input type="submit" value="Create" />
    </p>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/jquery-1.9.1.js")
    @Scripts.Render("~/Scripts/uploader/fileuploader.js")
    @Styles.Render("~/Scripts/uploader/fileuploader.css")

    <script type="text/javascript">
        $(document).ready(function () {

            var id = 0;
            var photoID = 0;

            var uploader = new qq.FileUploader({
                element: document.getElementById('file-uploader'),
                action: '@Url.Action("PhotoUpload", "Bookings")',
                onComplete: function (id, filename, responseJSON) {
                    @{Model.Photos.Add(new Photo());}
                    var toAppend = '<input type="hidden" name="Photos[' + photoID + '].ID" value="0" />';
                    $('#file-uploader').append(toAppend);
                    var toAppend = '<input type="hidden" name="Photos[' + photoID + '].URL" value="' + responseJSON.path + '" />';
                    $('#file-uploader').append(toAppend);
                    var toAppend = '<input type="hidden" name="Photos[' + photoID + '].URLThumb" value="' + responseJSON.thumb + '" />';
                    $('#file-uploader').append(toAppend);
                    var toAppend = '<input type="hidden" name="Photos[' + photoID + '].Name" value="' + responseJSON.name + '" />';
                    $('#file-uploader').append(toAppend);

                    var thumbAppend = '<img src="' + responseJSON.thumb + '" /> ' + responseJSON.name + '<br />';
                    $('#thumbs').append(thumbAppend);
                    photoID++;
                },
                params: {
                    houseID: '0'
                }
            });

            $('.addNewCost').click(function () {
                $.ajax({
                    type: "GET",
                    url: "/Houses/_CostEditorWithID/" + id,
                    success: function ($result) {
                        var toInject = $result;
                        $('.costEditor').append(toInject);
                        $('.costEditor').find('.costEditorRow:last').slideDown();
                        $('#' + id + ' .costID').val(0);
                        id++;
                    }
                });
            });

            $("a.deleteRow").live("click", function () {
                //$(this).parents("div.costEditorRow:first").remove();
                var divId = $(this).closest('div').attr('id');
                $('#' + divId + ' input').val('');
                $(this).parents("div.costEditorRow:first").slideUp();
                return false;
            });
        });
    </script>
}
