@model VacationVillaManager.Models.House
@using VacationVillaManager.Models

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_BootstrapLayout.public.cshtml";
    var firstImg = true;
    var imgClass = "item";
}

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-60">
	<div class="container">
        <h1 class="pull-left">@Model.Name</h1>
        <ul class="pull-right breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home") <span class="divider">/</span></li>
            <li>@Html.ActionLink("Houses", "All", "Houses") <span class="divider">/</span></li>
            <li class="active">@Model.Name</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container portfolio-item">
    <div class="row-fluid margin-bottom-20">
        <!-- Carousel -->
        <div class="span7">
            <div id="myCarousel" class="carousel slide">
                <div class="carousel-inner house-photo-carousel">
                    @foreach (var photo in Model.Photos)
                    {
                        if (firstImg)
                        {
                            firstImg = false;
                            imgClass = "item active";
                        }

                        else
                        {
                            imgClass = "item";
                        }

                        <div class="@imgClass">
                            <img src="@photo.URL" alt="@photo.Name" />
                            <div class="carousel-caption">
                                <h4>@Model.Name</h4>
                                <p>@photo.Name</p>
                            </div>
                        </div>
                    }
                </div>
                
                <div class="carousel-arrow">
                    <a data-slide="prev" href="#myCarousel" class="left carousel-control"><i class="icon-angle-left"></i></a>
                    <a data-slide="next" href="#myCarousel" class="right carousel-control"><i class="icon-angle-right"></i></a>
                </div>
            </div>
        </div>
        <!-- //End Carousel -->

        <div class="span5">
        	<h3>Portfolio Item Information</h3>
            <p>At vero eos et accusamus et iusto odio dignissimos <a href="#">ducimus qui blanditiis</a> praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus.</p>
            <p>Molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus.</p>
            <ul class="unstyled">
            	<li><i class="icon-user color-green"></i> Jack Baur</li>
            	<li><i class="icon-calendar color-green"></i> 14,2003 February</li>
            	<li><i class="icon-tags color-green"></i> Websites, Google, HTML5/CSS3</li>
            </ul>
            <p><a class="btn-u btn-u-large" href="#">VISIT THE PROJECT</a></p>
        </div>
    </div>
</div>

@Html.Partial("_SendInquiry", new Inquiry())
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts {

}