@model VacationVillaManager.Models.House
@using VacationVillaManager.Models

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_BootstrapLayout.public.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>House</legend>
    @Html.LabelFor(model => model.Name)
    @Html.DisplayFor(model => model.Name)

    
</fieldset>

@Html.Partial("_SendInquiry", new Inquiry())
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts {

}