@model VacationVillaManager.Models.Booking

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>

        <legend>Booking</legend>

        <h2>Client Info</h2>

        <table>
            <tr>
                <td>@Html.RadioButton("clientSelect", 0, true, new { id = "radioReturnClient" }) Returning Client</td>
                <td>@Html.DropDownList("clientList", (IEnumerable<SelectListItem>)ViewData["ClientsList"], new { id = "clientList" })</td>
            </tr>
            <tr>
                <td>@Html.RadioButton("clientSelect", 1, false, new { id = "radioNewClient" }) New Client</td>
            </tr>
        </table>

        <div class="clientInfo">
            <!-- Generated client editor goes here -->
        </div>

        <h2>Booking Info</h2>

        <table>
            @Html.HiddenFor(model => model.House.Location)
            <tr>
                <td>@Html.LabelFor(model => model.House)</td>
                <td>@Html.DropDownListFor(model => model.House.ID, (IEnumerable<SelectListItem>)ViewData["HousesList"], new { id = "housesList" })</td>
                <td>@Html.ValidationMessageFor(model => model.House.ID)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.StartDate)</td>
                <td>@Html.TextBoxFor(model => model.StartDate, new { @class = "date" })</td>
                <td>@Html.ValidationMessageFor(model => model.StartDate)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.EndDate)</td>
                <td>@Html.TextBoxFor(model => model.EndDate, new { @class = "date" })</td>
                <td>@Html.ValidationMessageFor(model => model.EndDate)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.NumAdults)</td>
                <td>@Html.EditorFor(model => model.NumAdults)</td>
                <td>@Html.ValidationMessageFor(model => model.NumAdults)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.NumChildren)</td>
                <td>@Html.EditorFor(model => model.NumChildren)</td>
                <td>@Html.ValidationMessageFor(model => model.NumChildren)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Rate)</td>
                <td>@Html.TextBoxFor(model => model.Rate, new { id = "rateBox" })</td>
                <td>@Html.ValidationMessageFor(model => model.Rate)</td>
            </tr>
        </table>

        <div class="editor-label">
            @Html.LabelFor(model => model.Costs)
        </div>

        <div class="costEditor">
            <!-- Generated cost editors go here -->
        </div>

        <a href="javascript:void()" class="addNewCost" >Add</a>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    
    <script type="text/javascript">
        $(document).ready(function () {

            $.datepicker.setDefaults({
                dateFormat: "M dd yy",
                showOn: "focus"
            });

            $('.date').datepicker();

            $('.addNewCost').hide();

            var id = -1;

            $('.addNewCost').click(function () {
                id++;
                $.ajax({
                    type: "GET",
                    url: "/Houses/_CostEditorWithID/" + id,
                    success: function ($result) {
                        var toInject = $result;
                        $('.costEditor').append(toInject);
                        $('#' + id + ' .costID').val(0);
                    }
                });
            });

            $("a.deleteRow").live("click", function () {
                //$(this).parents("div.costEditorRow:first").remove();
                var divId = $(this).closest('div').attr('id');
                $('#' + divId + ' input').val('');
                $(this).parents("div.costEditorRow:first").hide();
                return false;
            });

            $('#radioReturnClient').click(function () {
                $('div').remove('.clientInfoEditor');
                $('#clientList').removeAttr('disabled');
                var clientID = $('#clientList').val();
                if (clientID != "") {
                    $.ajax({
                        type: "GET",
                        url: "/Bookings/_ClientEditor/" + clientID,
                        success: function ($result) {
                            var toInject = $result;
                            $('.clientInfo').hide().append(toInject).slideDown();
                        }
                    });
                }
            });

            $('#radioNewClient').click(function () {
                $('div').remove('.clientInfoEditor');
                $('#clientList').attr('disabled', 'disabled');
                $.ajax({
                    type: "GET",
                    url: "/Bookings/_ClientEditor/0",
                    success: function ($result) {
                        var toInject = $result;
                        $('.clientInfo').hide().append(toInject).slideDown();
                    }
                });
            });

            $('#clientList').change(function () {
                $('div').remove('.clientInfoEditor');
                var clientID = $('#clientList').val();
                if (clientID != "") {
                    $.ajax({
                        type: "GET",
                        url: "/Bookings/_ClientEditor/" + clientID,
                        success: function ($result) {
                            var toInject = $result;
                            $('.clientInfo').hide().append(toInject).slideDown();
                        }
                    });
                }
            });

            $('#housesList').change(function () {

                $('.addNewCost').hide();
                $('.costEditorRow input').val('');
                $('div[class="costEditorRow"]').hide();

                var houseID = $('#housesList').val();
                if (houseID != "") {

                    $.ajax({
                        type: "GET",
                        url: "/Bookings/GetRate/" + houseID,
                        success: function ($result) {
                            $('#rateBox').val($result);
                        }
                    });

                    $.ajax({
                        type: "GET",
                        url: "/Bookings/GetCosts/" + houseID,
                        success: function ($result) {

                            var currentPos = id;
                            var endPos = id + $result.Costs.length;
                            $.each($result.Costs, function (index, cost) {
                                id++;
                                $.ajax({
                                    type: "GET",
                                    url: "/Houses/_CostEditorWithID/" + id,
                                    async: false,
                                    success: function ($result2) {
                                        var toInject = $result2;
                                        $('.costEditor').hide().append(toInject).slideDown();

                                        currentPos++;

                                        $('#' + currentPos + ' .costName').val(cost.Name);
                                        $('#' + currentPos + ' .costAmount').val(cost.Amount);
                                        $('#' + currentPos + ' .costID').val(0);

                                        if (currentPos >= endPos) {
                                            $('.addNewCost').show();
                                        }
                                    }
                                });
                            });
                        }
                    });
                }
                else {
                    $('#rateBox').val('0');
                }
            });
        });
    </script>
}
