@{
    ViewBag.Title = "PhotoUpload";
}

<h2>PhotoUpload</h2>

<div id="file-uploader">       
<noscript>          
    <p>Please enable JavaScript to use file uploader.</p>
    <!-- or put a simple form for upload here -->
</noscript>         
</div>

@Html.TextBox("Percent", null, new { id = "progress" })

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/uploader/fileuploader.js")
    @Styles.Render("~/Scripts/uploader/fileuploader.css")

    <script type="text/javascript">
        $(document).ready(function () {

            var uploader = new qq.FileUploader({
                element: document.getElementById('file-uploader'),
                action: '@Url.Action("PhotoUpload", "Bookings")',
                onProgress: function(id, filename, loaded, total) {
                    $('#progress').val(loaded / total);
                },
                onComplete: function(id, filename, responseJSON) {
                    alert("complete");
                },
                params: {
                    param1: 'test'
                }
            });
        });
    </script>
}