@model VacationVillaManager.Models.House

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>House</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Region)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Region)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Country)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Country)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ZipPostalCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ZipPostalCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Rate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VirtualTour)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VirtualTour)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Flyer)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Flyer)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HomeAwayID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HomeAwayID)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
