@model IEnumerable<Special>
@using VacationVillaManager.Models

@{
    ViewBag.Title = "Specials";
    Layout = "~/Views/Shared/_BootstrapLayout.public.cshtml";
    var side = 0;
    var houses = (List<House>)ViewData["Houses"];
}

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-20">
	<div class="container">
        <h1 class="pull-left">Specials</h1>
        <ul class="pull-right breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home") <span class="divider">/</span></li>
            <li class="active">Specials</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">
    @foreach (House house in houses)
    {
        if (side == 0)
        {
            @:<div class="row-fluid servive-block">
            @:    <div class="span6">
            @:        <div class="headline"><h3 style="margin-top: -15px;">@house.Name</h3></div>
            @:        <div class="specials-btn-link">@Html.ActionLink("View/Reserve Villa", "Details", "Houses", new { id = house.ID }, new { @class = "btn-u btn-u-small btn-specials" })</div>
            @:        <table class="table table-hover">
            @:            <thead>
            @:                <tr>
            @:                    <th>Applicable Dates</th>
            @:                    <th>Rate</th>
            @:                </tr>
            @:            </thead>
            @:            <tbody>
                            foreach (Special special in Model)
                            {
                                if (special.House.ID == house.ID)
                                {                                   
            @:                        <tr >
            @:                            <td style="vertical-align: middle;">@special.StartDate.ToString("dd MMM yyyy") thru @special.EndDate.ToString("dd MMM yyyy")</td>
            @:                            <td style="vertical-align: middle;"><span style="text-decoration:line-through;">$@house.Rate</span> <span class="lead" style="padding-left: 5px;">$@special.Rate</span></td>
            @:                        </tr>   
                                }
                            }
            @:            </tbody>
            @:        </table>
            @:    </div>
                side++;
                
        }
        else if (side == 1)
        {
            @:    <div class="span6">
            @:        <div class="headline"><h3 style="margin-top: -15px;">@house.Name</h3></div>
            @:        <div class="specials-btn-link">@Html.ActionLink("View/Reserve Villa", "Details", "Houses", new { id = house.ID }, new { @class = "btn-u btn-u-small btn-specials" })</div>
            @:        <table class="table table-hover">
            @:            <thead>
            @:                <tr>
            @:                    <th>Applicable Dates</th>
            @:                    <th></th>
            @:                </tr>
            @:            </thead>
            @:            <tbody>
                            foreach (Special special in Model)
                            {
                                if (special.House.ID == house.ID)
                                {                                   
            @:                        <tr>
            @:                            <td style="vertical-align: middle;">@special.StartDate.ToString("dd MMM yyyy") thru @special.EndDate.ToString("dd MMM yyyy")</td>
            @:                            <td style="vertical-align: middle;"><span style="text-decoration:line-through;">$@house.Rate</span> <span class="lead" style="padding-left: 5px;">$@special.Rate</span></td>
            @:                        </tr>   
                                }
                            }
            @:            </tbody>
            @:        </table>
            @:    </div>
            @:</div>
            side--;
        }
    }

    @if (side == 1)
    {
        @:</div>
    }
</div>