@model VacationVillaManager.Models.Cost

@Html.HiddenFor(model => model.ID)

<table>
    <tr>
        <td>@Html.LabelFor(model => model.Name)</td>
        <td>@Html.TextBoxFor(model => model.Name, new { @class = "costName" })</td>
        <td>@Html.ValidationMessageFor(model => model.Name)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.Amount)</td>
        <td>@Html.TextBoxFor(model => model.Amount, new { @class = "costAmount" })</td>
        <td>@Html.ValidationMessageFor(model => model.Amount)</td>
    </tr>
</table>

<a href="#" class="deleteRow">delete</a>