@model VacationVillaManager.Models.Location

<div class="input-prepend">
    <span class="add-on"><i class="icon-map-marker"></i></span>
    @Html.TextBoxFor(model => model.Address, new { placeholder = "Address" })
</div><br />

<div class="input-prepend">
    <span class="add-on"><i class="icon-building"></i></span>
    @Html.TextBoxFor(model => model.City, new { placeholder = "City" })
</div><br />

<div class="input-prepend">
    <span class="add-on"><i class="icon-road"></i></span>
    @Html.TextBoxFor(model => model.Region, new { placeholder = "State/Province" })
</div><br />

<div class="input-prepend">
    <span class="add-on"><i class="icon-flag"></i></span>
    @Html.TextBoxFor(model => model.Country, new { placeholder = "Country" })
</div><br />

<div class="input-prepend">
    <span class="add-on"><i class="icon-plane"></i></span>
    @Html.TextBoxFor(model => model.ZipPostalCode, new { placeholder = "ZIP/Postal Code" })
</div>