@using System.Web.Optimization
@using BootstrapSupport
@using NavigationRoutes
@using VacationVillaManager.Models
<!DOCTYPE html>
<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->  
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>@ViewBag.Title</title>

        <link href="@Styles.Url("~/unitycss")" rel="stylesheet"/>

        <link href="@Styles.Url("~/Content/font-awesome/css/font-awesome.min.css")" rel="stylesheet" />
        <link href="@Styles.Url("~/Content/PublicOverride.css")" rel="stylesheet" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
        <link rel="shortcut icon" href="/Content/images/favicon.ico">  
        

        @RenderSection("head", required: false)
        @Html.Partial("_html5shiv")
        @* favicons and touch icons go here *@
    </head>
    <body>
        <!--=== Top ===-->    
        <div class="top">
            <div class="container">         
                <ul class="loginbar pull-right">
                    <li><a href="https://www.facebook.com/pages/Vacation-Villa-Manager/1396924907197483" style="text-decoration: none;"><i class="icon-facebook-sign" style="font-size: 1.2em;"></i></a></li>
                    <li class="devider"> </li>
                    <li><a href="https://twitter.com/VacaVillaMgr" style="text-decoration: none;"><i class="icon-twitter-sign" style="font-size: 1.2em;"></i></a></li>
                    <li class="devider"> </li>
                    <li>@Html.ActionLink("Admin Panel", "Index", "Houses", null, new { @class = "login-btn" })</li>   
                </ul>
            </div>      
        </div><!--/top-->
        <!--=== End Top ===-->

        <!--=== Header ===-->
        <div class="header">
            <div class="container">
                <div class="logo">
                    <h3 class="logo">@Html.ActionLink("VacationVillaManager", "Index", "Home")</h3>
                </div>

                <div class="navbar">
                    <div class="navbar-inner">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>

                        <div class="nav-collapse collapse">
                            <ul class="nav top-2">
                                <li><a href="#">Availability</a></li>
                                <li>
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Houses <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        @foreach (var item in (IEnumerable<House>)Session["ActiveHouses"])
                                        {
                                            if (item.Active)
                                            {
                                                <li><a href="/Houses/Details/@item.ID">@item.Name</a></li>
                                            }
                                        }
                                    </ul>
                                    <b class="caret-out"></b>
                                </li>
                                <li>@Html.ActionLink("Services", "Services", "Home")</li>
                                <li><a href="#">Attractions</a></li>
                                <li><a href="#">Specials</a></li>
                                <li><a href="#">Blog</a></li>
                                <!--<li>@Html.ActionLink("About", "About", "Home")</li>-->
                                <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--=== End Header ===-->

        @RenderBody()

        <!--=== Footer ===-->
        <div class="footer">
	        <div class="container">
		        <div class="row-fluid">
			        <div class="span4">
                        <!-- About -->
		                <div class="headline"><h3>About</h3></div>	
				        <p class="margin-bottom-25">Vacation Villa Manager offers guests personal service and access to luxury vacation homes in the Disney/Orlando area of Florida.  As a boutique business our guests are always the priority and emails, phone calls, text messages are received 24 hours a day and replied to in a short timely manner.</p>	

                        						
			        </div>
			
			        <div class="span4">
                        <div class="posts">
                            <div class="headline"><h3>Recent Blog Entries</h3></div>
                            <p class="margin-bottom-25">Coming Soon!</p>
                            
                            <!-- Newsletter -->
		                    <div class="headline"><h3>Newsletter</h3></div>	
				            <p>Subscribe to our newsletter and stay up to date with the latest news and deals!</p>
				            <form class="form-inline">
					            <div class="input-append">
						            <input type="text" placeholder="Email Address" class="input-medium">
						            <button class="btn-u">Subscribe</button>
					            </div>
				            </form>		
                        </div>
                        
			        </div>

			        <div class="span4">
                        <!-- Contact -->
                        <div class="headline"><h3>Contact Us</h3></div>	
                        <div class="span6" style="margin-left: 0;">
                            @using (Html.BeginForm()) {
                                <table>
                                    <tr></tr>
                                </table>
                                @Html.TextBox("ContactName", null, new { placeholder = "Name", style = "width: 90%;" })
                                @Html.TextBox("ContactEmail", null, new { placeholder = "Email Address (Required)", style = "width: 90%;" })
                                @Html.TextArea("ContactMessage", null, new { placeholder = "Your Message", style = "width: 90%;" })<br />
                                <button class="btn-u" style="width: 98%;">Send</button>
                            }
                        </div>
                        <div class="span6" style="">
                            <div class="headline"><h4 style="line-height: 23px;">Our Info</h4></div>
                            <table>
                                <tr>
                                    <td style="text-align: center;"><i class="icon-user"></i></td>
                                    <td style="padding-left: 10px;">Lisa Sedore</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><i class="icon-envelope"></i></td>
                                    <td style="padding-left: 10px;"><a href="mailto:lisa@vacationvillamanager.com">Email</a></td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><i class="icon-phone"></i></td>
                                    <td style="padding-left: 10px;"><a href="tel:19053342458">+1-905-334-2458</a></td>
                                </tr>
                            </table>
                        </div>
			        </div>
		        </div>	
	        </div>
        </div>
        <!--=== End Footer ===-->

        <!--=== Copyright ===-->
        <div class="copyright">
	        <div class="container">
		        <div class="row-fluid">
			        <div class="span8">						
	                    <p>2013 &copy; VacationVillaManager. ALL Rights Reserved. @Html.ActionLink("Admin Panel", "Index", "Houses")</p>
			        </div>
			        <div class="span4">	
				        <h5 class="pull-right">@Html.ActionLink("VacationVillaManager", "Index", "Home")</h5>
			        </div>
		        </div>
	        </div>
        </div>
        <!--=== End Copyright ===-->

        @Scripts.Render("~/unityjs")
        @RenderSection("Scripts", required: false)
    </body>
</html>

<script type="text/javascript">
        $(document).ready(function () {
            var url = window.location.pathname;
            if (url == "/") { }
            else {
                var substr = url.split('/');
                var urlaspx = substr[substr.length - 1];
                $('.nav').find('.active').removeClass('active');
                $('.nav li a').each(function () {
                    if ($(this).attr('href') == url) {
                        $(this).parent().addClass('active');
                        if (substr[1] == "Houses")
                            $(this).parent().parent().parent().addClass('active');
                    }
                });
            }
        });
    </script>

